services:
    php:
        build: ./docker/php
        container_name: my_expenses
        restart: unless-stopped
        volumes:
            - .:/var/www/app
        depends_on:
            - redis
            - minio
            - rabbitmq
            - postgres
        networks:
            - my_expenses
        expose:
            - "9000"

    postgres:
      image: postgres:15
      restart: unless-stopped
      container_name: my_expenses_db
      environment:
        POSTGRES_DB: ${DB_DATABASE}
        POSTGRES_USER: ${DB_USERNAME}
        POSTGRES_PASSWORD: ${DB_PASSWORD}
      volumes:
        - ${DB_DATA}:/var/lib/postgresql/data
        - ./docker/postgres/init:/docker-entrypoint-initdb.d
        - ./docker/postgres/backup:/backup
      networks:
        - my_expenses
      ports:
        - "5432:5432"

    redis:
        image: redis:alpine
        restart: unless-stopped
        container_name: my_expenses_redis
        ports:
            - "6379"
        networks:
            - my_expenses

    nginx:
        build: ./docker/nginx
        restart: unless-stopped
        container_name: my_expenses_nginx
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - .:/var/www/app
            - ${NGINX_DATA}:/var/log/nginx
            - /etc/letsencrypt:/etc/letsencrypt
            - ./docker/nginx/conf/default.conf:/etc/nginx/conf.d/default.conf:ro
            - ./docker/nginx/conf/nginx.conf:/etc/nginx/sites-available/nginx.conf:ro
            - ./docker/nginx/conf/${APP_ENV}/app.conf:/etc/nginx/sites-available/app.conf:ro
            - ./docker/nginx/conf/${APP_ENV}/minio.conf:/etc/nginx/sites-available/minio.conf:ro
            - ./docker/nginx/html/:/usr/share/nginx/html/
        depends_on:
            - php
        networks:
            - my_expenses

    node:
        image: node:23-bookworm
        restart: unless-stopped
        container_name: my_expenses_node
        working_dir: /app
        command: sh -c "tail -f /dev/null"
        volumes:
            - .:/app
            - ./docker/nginx/certs:/etc/letsencrypt
        networks:
            - my_expenses
        ports:
            - "5173:5173"

    minio:
      image: minio/minio
      restart: unless-stopped
      container_name: my_expenses_s3
      command: server /data --console-address ":9001"
      environment:
        - MINIO_ROOT_USER=${MINIO_ROOT_USER}
        - MINIO_KMS_SECRET_KEY=${MINIO_KMS_SECRET_KEY}
        - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      volumes:
        - ${MINIO_DATA}:/data
      ports:
        - "9000"
      networks:
        my_expenses:
          aliases:
            - minio

    rabbitmq:
      container_name: my_expenses_rabbitmq
      build:
        context: ./docker/rabbitmq
      ports:
        - "5672"
        - "15672"
      environment:
        - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
        - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
      volumes:
        - ${RABBITMQ_DATA}:/var/lib/rabbitmq
      networks:
        - my_expenses

networks:
    my_expenses:
        driver: bridge
